{% load static %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include 'head-admin.html' %}
    {% block extra-css %}

    {% endblock %}
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
{% if user.user_type == 'admin' %}
    {% include 'left-menu-admin.html' %}
{% elif user.user_type == 'hod' %}
    {% include 'left-menu-hod.html' %}
{% elif user.user_type == 'teacher' %}
    {% include 'left-menu-teacher.html' %}
{% elif user.user_type == 'student' %}
    {% include 'left-menu-student.html' %}
{% elif user.user_type == 'trainer' %}
    {% include 'left-menu-trainer.html' %}
{% elif user.user_type == 'trainee' %}
    {% include 'left-menu-trainee.html' %}
{% else %}
{% endif %}
<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="logo-pro">
                    <a href="#"><img class="main-logo" src="{% static 'img/logo/logo.png' %}" alt=""/></a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-advance-area">
        <div class="header-top-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="header-top-wraper">
                            <div class="row">
                                <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                    <div class="menu-switcher-pro">
                                        <button type="button" id="sidebarCollapse"
                                                class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                    <div class="header-top-menu tabl-d-n">
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <div class="header-right-info">
                                        <ul class="nav navbar-nav mai-top-nav header-right-menu">

                                            <li class="nav-item">
                                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                                                   class="nav-link dropdown-toggle">
                                                    {% if user.image %}
                                                        <img src="{{ user.image.url }}" alt=""/>
                                                    {% else %}
                                                        <img src="{% static 'images/blank-profile.jpg' %}" alt="" height="50px" width="50px"/>
                                                    {% endif %}
                                                    <span class="admin-name">{{ user }}</span>
                                                    <i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
                                                </a>
                                                {% include 'drop-down-menu-admin.html' %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'mobile-menu-admin.html' %}
        {% block breadcome %}
            {% include 'breadcome.html' %}
        {% endblock %}
        {% block contents %}
        {% endblock %}
{#        <div class="footer-copyright-area">#}
{#            <div class="container-fluid">#}
{#                <div class="row">#}
{#                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
{#                        <div class="footer-copy-right">#}
{#                            <p>Copyright © 2021. All rights reserved.</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
    {% include 'js.html' %}
    {% block extra-js %}

    {% endblock %}
</body>

</html>