<ul role="menu"
    class="dropdown-header-top author-log dropdown-menu animated zoomIn">
    <li><a href="#"><span
            class="edu-icon edu-home-admin author-log-ic"></span>My
        Account</a>
    </li>
    <li><a href="#"><span
            class="edu-icon edu-user-rounded author-log-ic"></span>My
        Profile</a>
    </li>
    <li><a href="#"><span
            class="edu-icon edu-money author-log-ic"></span>User Billing</a>
    </li>
    <li><a href="#"><span
            class="edu-icon edu-settings author-log-ic"></span>Settings</a>
    </li>
    <li><a href="{% url 'logout' %}"><span
            class="edu-icon edu-locked author-log-ic"></span>Log Out</a>
    </li>
</ul>