<ul role="menu"
    class="dropdown-header-top author-log dropdown-menu animated zoomIn">
    {% if not user.is_superuser %}
        <li><a href="{% url 'user-profile-details' user.id %}"><span
                class="edu-icon edu-user-rounded author-log-ic"></span>My
            Profile</a>
        </li>
    {% endif %}
    <li><a href="{% url 'change-password' %}"><span
            class="edu-icon edu-locked author-log-ic"></span>Change Password</a>
    </li>
    <li><a href="{% url 'logout' %}"><span
            class="edu-icon edu-locked author-log-ic"></span>Log Out</a>
    </li>
</ul>