{% extends 'base-main.html' %}
{% load static %}
{% block content %}
    <!-- Home -->

    <div class="home">

        <!-- Hero Slider -->
        <div class="hero_slider_container">
            <div class="hero_slider owl-carousel">

                <!-- Hero Slide -->
                <div class="hero_slide">
                    <div class="hero_slide_background"
                         style="background-image:url(/static/images/slider_background.jpg)"></div>
                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                        <div class="hero_slide_content text-center">
                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Excellence <span>Group Of</span>
                                Companies</h1>
                        </div>
                    </div>
                </div

                <!-- Hero Slide -->
                <div class="hero_slide">
                    <div class="hero_slide_background"
                         style="background-image:url(/static/images/slider_background.jpg)"></div>
                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                        <div class="hero_slide_content text-center">
                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Excellence <span> Group Of</span>
                                Companies </h1>
                        </div>
                    </div>
                </div>

                <!-- Hero Slide -->
                <div class="hero_slide">
                    <div class="hero_slide_background"
                         style="background-image:url(/static/images/slider_background.jpg)"></div>
                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                        <div class="hero_slide_content text-center">
                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Excellence <span>Group Of</span>
                                Companies</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero_slider_left hero_slider_nav trans_200"><span class="trans_200">prev</span></div>
            <div class="hero_slider_right hero_slider_nav trans_200"><span class="trans_200">next</span></div>
        </div>
    </div>
    <div class="hero_boxes">
        <div class="hero_boxes_inner">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 hero_box_col">
                        <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                            <img src="{% static 'images/books.svg' %}" class="svg" alt="">
                            <div class="hero_box_content">
                                <h2 class="hero_box_title">Online Tuition & Crash Course</h2>
                                <a href="{% url 'online-courses' %}" class="hero_box_link">view more</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 hero_box_col">
                        <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                            <img src="{% static 'images/earth-globe.svg' %}" class="svg" alt="">
                            <div class="hero_box_content">
                                <h2 class="hero_box_title">On-Job Training Courses</h2>
                                <a href="{% url 'courseslist' %}" class="hero_box_link">view more</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 hero_box_col">
                        <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                            <img src="{% static 'images/professor.svg' %}" class="svg" alt="">
                            <div class="hero_box_content">
                                <h2 class="hero_box_title">Our Teachers</h2>
                                <a href="{% url 'viewteacher' %}" class="hero_box_link">view more</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Popular -->

    <div class="popular page_section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>Popular Courses</h1>
                    </div>
                </div>
            </div>

            <div class="row course_boxes">

                <!-- Popular Course Item -->
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"><a href="#"><img class="img-responsive"
                                                                      src="{% static 'img/logos/civil.png' %}"
                                                                      alt=""></a></div>
                            <div class="product_detail_btm">
                                <br>
                                <div class="center">
                                    <h4><a href="{% url 'civil' %}">Civil</a></h4>
                                </div>

                                <div class="product_price">
                                    <p>
                                        <span class="old_price"></span>
                                        <h4>Professional engineering discipline that deals
                                            with the design, construction, and maintenance.
                                        </h4>
                                        <span class="new_price"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"><a href="#"><img class="img-responsive"
                                                                      src="{% static 'img/logos/mc.jpg' %}"
                                                                      alt=""></a></div>
                            <div class="product_detail_btm">
                                <br>
                                <div class="center">
                                    <h4><a href="{% url 'mech' %}">Mechanical</a></h4>
                                </div>

                                <div class="product_price">
                                    <p><span class="old_price"></span><h4>It is the study, design, development,
                                    construction, and testing </h4><span class="new_price"> </span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"><a href="#"><img class="img-responsive"
                                                                      src="{% static 'img/logos/e.jpg' %}"
                                                                      alt=""></a></div>
                            <div class="product_detail_btm">
                                <br>
                                <div class="center">
                                    <h4><a href="{% url 'ec' %}">Electronics & Electrical</a></h4>
                                </div>

                                <div class="product_price">
                                    <p><span class="old_price"></span><h4> It is an engineering discipline concerned
                                    with the study, design and application of equipment, devices </h4> <span
                                        class="new_price"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img">
                                <a href="#"><img class="img-responsive"
                                                 src="{% static 'img/logos/cspic.jpg' %}" alt=""></a>
                            </div>
                            <div class="product_detail_btm">
                                <br>
                                <div class="center">
                                    <h4><a href="{% url 'cs' %}">Computer Science</a></h4>
                                </div>

                                <div class="product_price">
                                    <p><span class="old_price"></span> <h4>Computer science deals with the theoretical
                                    foundations of information, algorithms and the architectures of its
                                    computation.</h4> <span class="new_price"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end section -->
    <!-- Register -->

    <div class="register">

        <div class="container-fluid">

            <div class="row row-eq-height">
                <div class="col-lg-6 nopadding">

                    <!-- Register -->

                    <div class="register_section d-flex flex-column align-items-center justify-content-center">
                        <div class="register_content text-center">
                            <h1 class="register_title">Register now and get a discount <span>50%</span> discount until
                                31 January</h1>
                            <p class="register_text">Excellence has been the leading company in Kerala. Our efficient
                                services has benefited well-known companies all over the world.Our Heartiest welcome
                                goes to you.</p>
                            <div class="button button_1 register_button mx-auto trans_200"><a href="{% url 'student-register' %}">register
                                now</a></div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6 nopadding">

                    <!-- Search -->

                    <div class="search_section d-flex flex-column align-items-center justify-content-center">
                        <div class="search_background"
                             style="background-image:url(/static/img/bg-img/ac2.jpg);"></div>
                        <div class="search_content text-center">
                            <h1 class="search_title"><b>WE JUST DON'T TEACH, WE COACH...</b></h1>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Services -->
{% endblock %}