<!-- Start Left menu area -->
{% load static %}
<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="#"><img class="main-logo" src="{% static 'img/logo/logo.png' %}" alt=""/></a>
            <strong><a href="#"><img src="{% static 'img/logo/logosn.png' %}" alt=""/></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li>
                        <a title="Dashboard" href="#">
                            <span class="educate-icon educate-home icon-wrap"></span>
                            <span class="mini-sub-pro">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a title="Teachers" href="{% url 'teachers-list' %}">
                            <span class="educate-icon educate-home icon-wrap"></span>
                            <span class="mini-sub-pro">Teachers</span>
                        </a>
                    </li>
                    <li>
                        <a title="Teachers" href="#">
                            <span class="educate-icon educate-home icon-wrap"></span>
                            <span class="mini-sub-pro">Class Details</span>
                        </a>
                    </li>
                    <li>
                        <a title="Study Materials" class="has-arrow" href="#">
                            <span class="educate-icon educate-home icon-wrap"></span>
                            <span class="mini-click-non">Study Materials</span>
                        </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li>
                                <a title="Video" href="#">
                                    <span class="mini-sub-pro">Video</span>
                                </a>
                            </li>
                            <li>
                                <a title="Notes" href="#">
                                    <span class="mini-sub-pro">Notes</span>
                                </a>
                            </li>
                            <li>
                                <a title="Question Papers" href="#">
                                    <span class="mini-sub-pro">Question Papers</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a title="Exam" href="#">
                            <span class="educate-icon educate-home icon-wrap"></span>
                            <span class="mini-sub-pro">Exam</span>
                        </a>
                    </li>
                    <li>
                        <a title="Apply Leave" href="#">
                            <span class="educate-icon educate-home icon-wrap"></span>
                            <span class="mini-sub-pro">Apply Leave</span>
                        </a>
                    </li>
                    <li>
                        <a title="Feedback" href="#">
                            <span class="educate-icon educate-home icon-wrap"></span>
                            <span class="mini-sub-pro">Feedback</span>
                        </a>
                    </li>
                    <li>
                        <a title="Complaint" href="#">
                            <span class="educate-icon educate-home icon-wrap"></span>
                            <span class="mini-sub-pro">Complaint</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</div>