<!-- Start Left menu area -->
{% load static %}
<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="#"><img class="main-logo" src="{% static 'img/logo/logo.png' %}" alt=""/></a>
            <strong><a href="#"><img src="{% static 'img/logo/logosn.png' %}" alt=""/></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li>
                        <a title="Dashboard" href="#">
                            <span class="fa fa-home icon-wrap"></span>
                            <span class="mini-sub-pro">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a title="Hod" href="{% url 'hod-list' %}">
                            <span class="fa fa-h-square icon-wrap"></span>
                            <span class="mini-sub-pro">HOD</span>
                        </a>
                    </li>
                    <li>
                        <a title="Teachers" href="#">
                            <span class="fa fa-book icon-wrap"></span>
                            <span class="mini-sub-pro">Teachers</span>
                        </a>
                    </li>
                    <li>
                        <a title="Trainers" href="#">
                            <span class="fa fa-child icon-wrap"></span>
                            <span class="mini-sub-pro">Trainers</span>
                        </a>
                    </li>
                    <li>
                        <a title="Students" href="#">
                            <span class="fa fa-child icon-wrap"></span>
                            <span class="mini-sub-pro">Students</span>
                        </a>
                    </li>
                    <li>
                        <a title="Trainees" href="#">
                            <span class="fa fa-book icon-wrap"></span>
                            <span class="mini-sub-pro">Trainees</span>
                        </a>
                    </li>
                    <li>
                        <a title="Courses" href="#">
                            <span class="fa fa-bookmark icon-wrap"></span>
                            <span class="mini-sub-pro">Courses</span>
                        </a>
                    </li>
                    <li>
                        <a title="Subjects" href="#">
                            <span class="fa fa-bookmark icon-wrap"></span>
                            <span class="mini-sub-pro">Subjects</span>
                        </a>
                    </li>
                    <li>
                        <a title="Interviews" href="#">
                            <span class="fa fa-black-tie icon-wrap"></span>
                            <span class="mini-sub-pro">Interviews</span>
                        </a>
                    </li>
                    <li>
                        <a title="Videos" href="#">
                            <span class="fa fa-file-video-o icon-wrap"></span>
                            <span class="mini-sub-pro">Videos</span>
                        </a>
                    </li>
                    <li>
                        <a title="Complaints" class="has-arrow" href="#">
                            <span class="fa fa-stop-circle icon-wrap"></span>
                            <span class="mini-click-non">Complaints</span>
                        </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li>
                                <a title="Students Complaints" href="#">
                                    <span class="mini-sub-pro">Students</span>
                                </a>
                            </li>
                            <li>
                                <a title="Trainees Complaints" href="#">
                                    <span class="mini-sub-pro">Trainees</span>
                                </a>
                            </li>
                            <li>
                                <a title="Teachers Complaints" href="#">
                                    <span class="mini-sub-pro">Teachers</span>
                                </a>
                            </li>
                            <li>
                                <a title="Trainers Complaints" href="#">
                                    <span class="mini-sub-pro">Trainers</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</div>