<!-- Start Left menu area -->
{% load static %}
<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="#"><img class="main-logo" src="{% static 'img/logo/logo.png' %}" alt=""/></a>
            <strong><a href="#"><img src="{% static 'img/logo/logosn.png' %}" alt=""/></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li>
                        <a title="Dashboard" href="{% url 'dashboard' %}">
                            <span class="fa fa-home icon-wrap"></span>
                            <span class="mini-click-non">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a title="Trainers" href="{% url 'available-class' %}">
                            <span class="fa fa-book icon-wrap"></span>
                            <span class="mini-click-non">Trainers</span>
                        </a>
                    </li>
                    <li>
                        <a title="Class Details" href="{% url 'class-details' %}">
                            <span class="fa fa-sticky-note icon-wrap"></span>
                            <span class="mini-sub-pro">Class Details</span>
                        </a>
                    </li>
                    <li>
                        <a title="Study Materials" class="has-arrow" href="#">
                            <span class="fa fa-compass icon-wrap"></span>
                            <span class="mini-click-non">Study Materials</span>
                        </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li>
                                <a title="Video" href="{% url 'study-materials' 'video' %}">
                                    <span class="mini-sub-pro">Video</span>
                                </a>
                            </li>
                            <li>
                                <a title="Notes" href="{% url 'study-materials' 'note' %}">
                                    <span class="mini-sub-pro">Notes</span>
                                </a>
                            </li>
                            <li>
                                <a title="Question Papers" href="{% url 'study-materials' 'question-paper' %}">
                                    <span class="mini-sub-pro">Question Papers</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a title="Exam" href="{% url 'exam-create-list' %}">
                            <span class="fa fa-tag icon-wrap"></span>
                            <span class="mini-click-non">Exam</span>
                        </a>
                    </li>
                    <li>
                        <a title="Interview" href="{% url 'interviews' %}">
                            <span class="fa fa-black-tie icon-wrap"></span>
                            <span class="mini-click-non">Interview</span>
                        </a>
                    </li>
                    <li>
                        <a title="Apply Leave" href="{% url 'leave-request-create-list' %}">
                            <span class="fa fa-sign-out icon-wrap"></span>
                            <span class="mini-click-non">Apply Leave</span>
                        </a>
                    </li>
                    <li>
                        <a title="Feedback" href="{% url 'feedback' %}">
                            <span class="fa fa-feed icon-wrap"></span>
                            <span class="mini-click-non">Feedback</span>
                        </a>
                    </li>
                    <li>
                        <a title="Complaint" href="{% url 'complaint-create-list' %}">
                            <span class="fa fa-stop-circle-o icon-wrap"></span>
                            <span class="mini-click-non">Complaint</span>
                        </a>
                    </li>
                    <li>
                        <a title="Students Complaints" href="{% url 'attendance-list-view' 'student' %}">
                            <span class="fa fa-check icon-wrap"></span>
                            <span class="mini-click-non">Attendance</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</div>