<!-- Start Left menu area -->
{% load static %}
<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="#"><img class="main-logo" src="{% static 'img/logo/logo.png' %}" alt=""/></a>
            <strong><a href="#"><img src="{% static 'img/logo/logosn.png' %}" alt=""/></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li>
                        <a title="Dashboard" href="{% url 'dashboard' %}">
                            <span class="fa fa-home"></span>
                            <span class="mini-click-non">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a title="Students" href="{% url 'students-list' %}">
                            <span class="fa fa-child"></span>
                            <span class="mini-click-non">Students</span>
                        </a>
                    </li>
                    <li>
                        <a title="Trainees" href="#">
                            <span class="fa fa-tablet"></span>
                            <span class="mini-click-non">Class Details</span>
                        </a>
                    </li>
                    <li>
                        <a title="Exam" href="{% url 'exam-create-list' %}">
                            <span class="fa fa-book"></span>
                            <span class="mini-click-non">Exams</span>
                        </a>
                    </li>
                    <li>
                        <a title="Study Materials" class="has-arrow" href="#">
                            <span class="fa fa-compass"></span>
                            <span class="mini-click-non">Study Materials</span>
                        </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li>
                                <a title="Video" href="{% url 'study-materials' 'video' %}">
                                    <span class="mini-sub-pro">Video</span>
                                </a>
                            </li>
                            <li>
                                <a title="Notes" href="{% url 'study-materials' 'note' %}">
                                    <span class="mini-sub-pro">Notes</span>
                                </a>
                            </li>
                            <li>
                                <a title="Question Papers" href="{% url 'study-materials' 'question-paper' %}">
                                    <span class="mini-sub-pro">Question Papers</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a title="Apply Leave" href="{% url 'leave-request-create-list' %}">
                            <span class="fa fa-sign-out"></span>
                            <span class="mini-click-non">Apply Leave</span>
                        </a>
                    </li>

                    <li>
                        <a title="Complaints" class="has-arrow" href="#">
                            <span class="fa fa-stop-circle"></span>
                            <span class="mini-click-non">Complaints</span>
                        </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li>
                                <a title="Register a Complaint" href="{% url 'complaint-create-list' %}">
                                    <span class="mini-sub-pro">Register a Complaint</span>
                                </a>
                            </li>
                            <li>
                                <a title="Students Complaints" href="{% url 'complaint-list' 'student' %}">
                                    <span class="mini-sub-pro">Students Complaint</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a title="Salary" href="#">
                            <span class="fa fa-money"></span>
                            <span class="mini-click-non">Salary</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</div>