{% load static %}
<div class="services page_section">

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1>Our Services</h1>
                </div>
            </div>
        </div>

        <div class="row services_row">

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="{% static 'images/lap.png' %}" alt="">
                </div>
                <h3><b>LAPTOP/DESKTOPS</b></h3>
                <p><B>Use digital writing ipads or tablets to write during your lessons.</B></p>
            </div>

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="{% static 'images/video.jpg' %}" alt="">
                </div>
                <h3><B>AUDIO VIDEO CLASSES</B></h3>
                <p><B>Live chat and interactive voice & video communication make every lesson more engaging and
                    certainly more productive.</B></p>
            </div>

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="{% static 'images/sh.jpg' %}" alt="">
                </div>
                <h3><b>SHARE UNLIMITED DOCUMENTS</b></h3>
                <p><b>Upload & communicate with your tutor in real-time by sharing files and screenshots.</b></p>
            </div>

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="{% static 'images/board.jpg' %}" alt="">
                </div>
                <h3><b>ONLINE WHITEBOARD</b></h3>
                <p><B>Our online classroom is equipped with online whiteboard tools to help with lessons.</B></p>
            </div>

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="{% static 'images/record.png' %}" alt="">
                </div>
                <h3><b>LESSON RECORDINGS</b></h3>
                <p><B>Flexibility to review past sessions any time you wish.</B></p>
            </div>

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="{% static 'images/tt.jpg' %}" alt="">
                </div>
                <h3><B>EASY TIMETABLE SELECTION</B></h3>
                <p><B>Check the available day & time and choose your timetable with a single tap</B></p>
            </div>

        </div>
    </div>
</div>

