{% extends 'base-admin.html' %}
{% block contents %}

    <div class="product-status mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap drp-lst">
                        <h4>{{ title }}</h4>
                        {% if user.is_superuser %}
                            {% if btn_text %}
                                <div class="add-product">
                                    <a href="{{ add_url }}">{{ btn_text }}</a>
                                </div>
                            {% endif %}
                        {% endif %}
                        <div class="asset-inner">
                            <table>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Mobile Number</th>
                                    <th>Department</th>
                                    {% for item in list_items %}
                                        {% if item.user_type == 'teacher' or item.user_type == 'trainer' %}
                                            <th>Student Limit</th>
                                        {% endif %}
                                    {% endfor %}
                                    <th>Image</th>
                                    <th>Action</th>
                                </tr>
                                {% for item in list_items %}
                                    <div class="modal fade" id="myModal" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                    <h4 class="modal-title">Change Limit</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'upload-student-limit' item.id %}"
                                                          method="post">
                                                        {% csrf_token %}
                                                        {% if form.non_field_errors %}
                                                            <div class="alert alert-danger" role="alert">
                                                                {% for error in form.non_field_errors %}
                                                                    {{ error }}
                                                                {% endfor %}
                                                            </div>
                                                        {% endif %}
                                                        <div class="form-row">
                                                            <div class="form-group col-12">
                                                                <input name="limit" placeholder="Limit" type="number"
                                                                       max="50" min="2"
                                                                       required>
                                                            </div>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <tr>
                                        <td>{{ item }}</td>
                                        <td>{{ item.email }}</td>
                                        <td>{{ item.mobile_number }}</td>
                                        <td>{{ item.get_department_display }}</td>
                                        {% if item.user_type == 'teacher' or item.user_type == 'trainer' %}
                                            <td>{{ item.get_profile.student_limit }}</td>
                                        {% endif %}
                                        <td><img src="{{ item.image.url }}" width="250px" alt=""></td>
                                        <td>
                                            <a href="{% url 'user-profile-details' item.id %}">
                                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i
                                                        class="fa fa-eye" aria-hidden="true"></i> View
                                                </button>
                                            </a>
                                            {% if item.user_type == 'teacher' %}
                                                <a type="button" class="btn btn-info" data-toggle="modal"
                                                   data-target="#myModal">Update Student Limit
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}