{% extends 'base-admin.html' %}
{% block contents %}
    <div class="product-status-wrap drp-lst">
        <h4>{{ title }}</h4>
        {% if user.is_superuser %}
            {% if btn_text %}
                <div class="add-product">
                    <a href="#">{{ btn_text }}</a>
                </div>
            {% endif %}
        {% endif %}

        <div class="asset-inner">
            <table>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile Number</th>
                    <th>Department</th>
                    <th>Action</th>
                </tr>
                {% for item in list_items %}
                    <tr>
                        <td><img src="{{ item.image }}" width="250px" alt=""></td>
                        <td>{{ item }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.mobile_number }}</td>
                        <td>{{ item.department }}</td>
                        <td>
                            <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i
                                    class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                            <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i
                                    class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}