{% extends 'base-admin.html' %}
{% block contents %}
    <div class="product-status-wrap drp-lst">
        <h4>{{ title }}</h4>
        <p align="right">
            <button type="button" class="btn btn-light"><a href="/accounts/courses/add/">Add Course</a></button>
        </p>
        <div class=asset-inner">
            <table class="table table-hove">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Department
                    </th>
                    <th>
                        Action
                    </th>

                </tr>
                <tbody>

                {% for i in courses %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.get_department_display }}</td>
                        <td><a href="{% url 'edit_course' i.id %}" class="btn btn-primary">Edit</a></td>
                    </tr>

                {% endfor %}
                </tbody>

            </table>


        </div>
    </div>
{% endblock %}