{% extends 'base-admin.html' %}
{% load crispy_forms_tags %}
{% block contents %}
    <div class="product-status mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap drp-lst">
                        <h4>{{ title }}</h4>
                        <div class="asset-inner">
                            <table>
                                <tr>
                                    <th>Name</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                    <th>Reason</th>
                                    <th>Response</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                {% for item in list_items %}
                                    <div class="modal fade" id="recommendModal{{ item.id }}" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                    <h4 class="modal-title">Recommend Leave</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want to recommend leave request of {{ item.user }}
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="{% url 'leave-recommend-view' item.id %}"
                                                       class="btn btn-primary">
                                                        Yes Recommend
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="rejectModal{{ item.id }}" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                    <h4 class="modal-title">Reject Leave Request?</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'leave-reject-view' item.id %}" method="post"
                                                          enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        {% if form.non_field_errors %}
                                                            <div class="alert alert-danger" role="alert">
                                                                {% for error in form.non_field_errors %}
                                                                    {{ error }}
                                                                {% endfor %}
                                                            </div>
                                                        {% endif %}
                                                        <div class="form-row">
                                                            <div class="form-group">
                                                                <textarea name="reason" placeholder="Reason"
                                                                          required></textarea>
                                                            </div>
                                                            <div>
                                                                <button type="submit" class="btn btn-primary">Submit and
                                                                    Reject
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="approveModal{{ item.id }}" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                    <h4 class="modal-title">Approve Leave</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want to approve leave request of {{ item.user }}
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="{% url 'leave-approve-view' item.id %}"
                                                       class="btn btn-primary">
                                                        Yes Approve
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <tr>
                                        <td>{{ item.user }}</td>
                                        <td>{{ item.from_date|date }}</td>
                                        <td>{{ item.to_date|date }}</td>
                                        <td>{{ item.reason }}</td>
                                        <td>
                                            {% if item.response %}
                                                {{ item.response }}
                                            {% else %}
                                                No Response yet
                                            {% endif %}
                                        </td>
                                        <td>{{ item.get_status_display }}
                                        </td>
                                        <td>
                                            <div class="btn-group-sm">
                                                {% if item.status != 'approved' %}
                                                    {% if item.status != 'rejected' %}
                                                        {% if user.user_type == 'teacher' or user.user_type == 'trainer' %}
                                                            {% if item.status != 'recommended' %}
                                                                <a type="button" class="btn btn-info"
                                                                   data-toggle="modal"
                                                                   data-target="#recommendModal{{ item.id }}">Recommend
                                                                </a>
                                                            {% endif %}
                                                        {% else %}
                                                            <a type="button" class="btn btn-success" data-toggle="modal"
                                                               data-target="#approveModal{{ item.id }}">Approve
                                                            </a>
                                                        {% endif %}
                                                        <a type="button" class="btn btn-danger" data-toggle="modal"
                                                           data-target="#rejectModal{{ item.id }}">Reject
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}