{% extends 'base-admin.html' %}
{% block contents %}
    <div class="contacts-area mg-b-15">
        <div class="container-fluid">
            <h3>{{ title|title }}<a href="{% url 'teachers-attendance-sheet' %}">
                <button class="btn btn-primary pull-right">Mark Attendance</button></a>
            </h3>
            {% if list_items %}
                <div class="row">
                    {% for item in list_items %}
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="hpanel hblue contact-panel contact-panel-cs responsive-mg-b-30">
                                <div class="panel-body custom-panel-jw">
                                    <img alt="logo" class="img-circle m-b" src="{{ item.teacher.image.url }}"
                                         width="76px" height="76px">
                                    <h3><a href="">
                                        {% if item.teacher.user_type == 'teacher' %}
                                            {{ item.subject }}
                                        {% else %}
                                            {{ item.course }}
                                        {% endif %}
                                    </a></h3>
                                    <p class="all-pro-ad">{{ item.teacher.get_department_display }}</p>
                                    <p><b>Time: </b>{{ item.teacher.get_profile.get_available_time_display }}</p>
                                    <p><b>Date: </b>{{ item.date }}</p>
                                </div>
                                <div class="panel-footer contact-footer">
                                    <div class="professor-stds-int">
                                        <div class="professor-stds">
                                            <div class="contact-stat"><span>Teacher: </span>
                                                <strong>{{ item.teacher }}</strong></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}