{% extends 'base-main.html' %}
{% load static %}
{% block content %}
    <div class="hero_slide">
        <div class="hero_slide_background" style="background-image:url(/static/img/logos/ac21.jpg);"></div>
        <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">

        </div>
    </div>
    <BR>
    <BR>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1> OUR VISION</h1>
                </div>
            </div>
        </div>
    </div>

    <P>
    <H2 class="m-4">Excellence is a vibrant community of faculty, staff,students, and alumni who shape the practice of
        business and organizations around the world. We bring a blend of theory and practice to its rigorous academic
        experience, creating dynamic research and learning environment. We help the students to build a passion for
        their chosen subject. By providing the best quality learning facilities and experienced trainers, we raise a
        polished generation. We practice a global approved instruction method.Through Excellence, you can master your
        desired course within a short duration. Excellence serves the job oriented courses which you can make or develop
        your career opportunities. We provide professional training in engineering, architecture, management,
        accounting, animation, language training, and internship training. The success of students is our satisfaction.
    </H2></P>

    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1> OUR TEAM</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">

            <!-- Teacher -->
            <div class="col-lg-4 teacher">
                <div class="card">
                    <div class="card_img">

                        <img class="card-img-top trans_200" src="{% static 'img/fevicon/vijitha.PNG' %}"
                             alt="https://unsplash.com/@michaeldam">
                    </div>
                    <div class="card-body text-center">
                        <div class="card-title"><a href="">VIJITHA K.V.</a></div>
                        <div class="card-text">Python Trainer</div>

                    </div>
                </div>
            </div>

            <!-- Teacher -->
            <div class="col-lg-4 teacher">
                <div class="card">
                    <div class="card_img">

                        <img class="card-img-top trans_200" src="{% static 'img/fevicon/anju.PNG' %}"
                             alt="https://unsplash.com/@jcpeacock">
                    </div>
                    <div class="card-body text-center">
                        <div class="card-title"><a href="">ANJU P.K.</a></div>
                        <div class="card-text">RevitMEP Trainer</div>

                    </div>
                </div>
            </div>

            <!-- Teacher -->
            <div class="col-lg-4 teacher">
                <div class="card">
                    <div class="card_img">

                        <img class="card-img-top trans_200" src="{% static 'img/fevicon/charles.PNG' %}"
                             alt="https://unsplash.com/photos/n8jeOSxCRfQ">
                    </div>
                    <div class="card-body text-center">
                        <div class="card-title"><a href="">CHARLES</a></div>
                        <div class="card-text">AutoCAD Trainer</div>

                    </div>
                </div>
            </div>

            <!-- Teacher -->
            <div class="col-lg-4 teacher">
                <div class="card">
                    <div class="card_img">

                        <img class="card-img-top trans_200" src="{% static 'img/fevicon/kailash.PNG' %}"
                             alt="https://unsplash.com/@seteales">
                    </div>
                    <div class="card-body text-center">
                        <div class="card-title"><a href="">KAILASANATH O.</a></div>
                        <div class="card-text">Primevera Trainer</div>

                    </div>
                </div>
            </div>

            <!-- Teacher -->
            <div class="col-lg-4 teacher">
                <div class="card">
                    <div class="card_img">

                        <img class="card-img-top trans_200" src="{% static 'img/fevicon/rohith.PNG' %}"
                             alt="https://unsplash.com/@jaredsluyter">
                    </div>
                    <div class="card-body text-center">
                        <div class="card-title"><a href="">ROHITH UNIKRISHNAN</a></div>
                        <div class="card-text">Java Trainer</div>

                    </div>
                </div>
            </div>

            <!-- Teacher -->
            <div class="col-lg-4 teacher">
                <div class="card">
                    <div class="card_img">

                        <img class="card-img-top trans_200" src="{% static 'img/fevicon/abhijith.PNG' %}"
                             alt="https://unsplash.com/@mehdizadeh">
                    </div>
                    <div class="card-body text-center">
                        <div class="card-title"><a href="">ABHIJITH K.A.</a></div>
                        <div class="card-text">Google Sketchup Trainer</div>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}