{% extends 'base-main.html' %}
{% block content %}

    <style>
        table {
            background: url(/static/trainer.jpg);
            background-size: cover;

        }

        h3 {
            color: black;
            line-height: .7cm;
            text-align: justify;
        }

        h2 {
            color: #f7d410;
        }

        h1 {
            color: #f7d410;
            text-align: center;
            font-size: 40;
        }
    </style>
    <!-- section -->
    <br>
    <div class="hero_slide">
        <div class="hero_slide_background" style="background-image:url(/static/publicapp/img/logos/pri.png);"></div>
        <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">

        </div>
    </div>


    <div class="section padding_layout_1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="main_heading text_align_center">
                            <h1><U>PRIMAVERA</U></h1>
                            <p class="large"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### About Us Area Start ##### -->
        <section class="about-us-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6">
                        <div class="about-text mb-100">
                            <div class="section-heading">
                                <div class="line-"></div>
                                <h2></h2>
                            </div>
                            <p>
                            <H3>Primavera is a Project management software which has been developed by Primavera Systems
                                Inc. , it includes project management , scheduling , risk analysis , resource management
                                , collaboration and control capabilities
                            </H3>

                            </p>
                            <br>
                            <h2>About The Course</h2>
                            <p>
                            <h3> Primavera is a project management software that is used globally for planning, managing
                                and controlling project charges, and their activities, with more efficiency and ease.
                                The Software is widely used and more seen in the fields like Architecture, Engineering
                                and Construction industry. Primavera includes other enterprise software such as Oracle
                                and SAP’s ERP systems for better quality functioning and the software mainly focuses on
                                project portfolio management and its solutions. Primavera's software pack includes P6,
                                Pro sight, Contract Manager, Cost Manager, Pertmaster, SureTrak, Evolve and Inspire. The
                                newest addition of primavera is Primavera P6, which is an integrated PPM solution that
                                provides a real-time view of portfolio performance.

                            </h3>
                            </p>
                            <h2>Who You Can Become</h2>
                            <p>
                            <h3>
                                Getting hand-on experience in ‘NavisWorks’ will open door to vast number of
                                opportunities, the roles to which you'll get hired are:- <br><br>


                                1.Project Engineer<br>
                                2.Planning Engineer

                            </h3>
                            </p>
                            <h2>Who Should Go For This Course</h2>
                            <p>
                            <h3>Any graduate can learn primavera software as it has been used in wide range projects,
                                having various aspects. This software is widely used in the industries pertaining to
                                engineering, transport, construction, energy, IT, aerospace, security, etc.Therefore,
                                Project Engineers and Planning Engineers will be mostly using this software to maintain
                                and manage the complex projects into simplest,

                            </p>

                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="300ms">
                            <!-- Post Thumb -->
                            <div class="register_section d-flex flex-column align-items-center justify-content-center">
                                <div class="register_content text-center">
                                    <h1 class="register_title">Register now and get a discount <span>50%</span> discount
                                        until 31 January</h1>
                                    <p class="register_text">Excellence has been the leading company in Kerala. Our
                                        efficient services has benefited well-known companies all over the world.Our
                                        Heartiest welcome goes to you.</p>
                                    <div class="button button_1 register_button mx-auto trans_200"><a
                                            href="{% url 'student-register' %}">register now</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <br>
    <br>
{% block testimony %}

{% endblock %}

    {% endblock %}