{% extends 'base-main.html' %}
{% load static %}
{% block content %}
    <!-- section -->

    <style>
        table {
            background: url(trainer.jpg);
            background-size: cover;

        }

        h4 {
            color: black;
            line-height: .7cm;
        }

        h1 {
            color: #f7d410;
            text-align: center;
            font-size: 40;
        }
    </style>
    <!-- section -->

    <div class="hero_slide">
        <div class="hero_slide_background" style="background-image:url(static/publicapp/img/logos/md.jpg);"></div>
    </div>
    <div class="popular page_section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <br><br><br>
                        <h1> MECHANICAL ENGINEERING</h1>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <div class="section padding_layout_1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="full">
                            <div class="main_heading text_align_center">
                                <h2></h2>
                                <p class="large"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img">
                                <a href="{% url 'autocadmech' %}">
                                    <img class="img-responsive" src="{% static 'img/logos/autocad.png' %}" alt=""
                                         width="100%">
                                </a>
                            </div>
                            <br>
                            <br>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="{% url 'autocadmech' %}">Autocad</a></h4></a>
                                </div>
                                <div class="product_price">
                                    <p>
                                        <span class="old_price"></span>
                                    <h4>
                                        AutoCAD is a commercial computer-aided design
                                        and drafting software application.
                                    </h4> <span class="new_price"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"><a href="{% url 'catia' %}">
                                <img class="img-responsive"
                                     src="{% static 'img/logos/catia1.jpg' %}" style="width: 100%"
                                     alt=""></a></div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="{% url 'catia' %}">CATIA</a></h4>
                                </div>
                                <div class="product_price">
                                    <p><span class="old_price"></span><h4>CATIA is the World's Leading Solution for
                                    Product Design and Experience.</h4><span class="new_price"> </span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"><a href="{% url 'solid' %}">
                                <img class="img-responsive"
                                     src="{% static 'img/logos/solid1.png' %}" width="100%"
                                     alt=""></a></div>
                            <br>
                            <br>
                            <br>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="{% url 'solid' %}">SOLIDWORKS</a></h4>
                                </div>

                                <div class="product_price">
                                    <p><span class="old_price"></span><h4>Dassault Systèmes SOLIDWORKS Corp. develops
                                    and markets 3D CAD design software and product data management software.</h4><span
                                        class="new_price"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"><a href="{% url 'ansys' %}">
                                <img class="img-responsive"
                                     src="static/publicapp/img/logos/ansys1.png" width="100%"
                                     alt=""></a></div>
                            <br><br>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="{% url 'ansys' %}">ANSYS</a></h4>
                                </div>
                                <div class="product_price">
                                    <p><span class="old_price"></span>
                                    <h4> Ansys, Inc. is a global public company based in Canonsburg, Pennsylvania. </h4>
                                    <span class="new_price"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"><a href="{% url 'nxcad' %}">
                                <img class="img-responsive"
                                     src="{% static 'img/logos/nxcad1.png' %}" width="100%"
                                     alt=""></a>
                            </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="{% url 'nxcad' %}">NX CAD</a></h4>
                                </div>
                                <div class="product_price">
                                    <p><span class="old_price"></span><h4> NX for Design enables you to deliver products
                                    “right to market, first time" using more virtual product models and fewer, more
                                    costly, physical prototypes.</h4> <span class="new_price"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"><a href="{% url 'nxcam' %}">
                                <img class="img-responsive"
                                     src="{% static 'img/logos/NX1.jpg' %}" width="100%"
                                     alt=""></a>
                            </div>
                            <br>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="{% url 'nxcam' %}">NX CAM</a></h4>
                                </div>
                                <div class="product_price">
                                    <p><span class="old_price"></span><h4> NX for Manufacturing. Drive efficient
                                    end-to-end part manufacturing operations and deliver high-precision parts through
                                    digitalization.</h4> <span class="new_price"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"><a href="{% url 'nxnas' %}">
                                <img class="img-responsive" src="static/publicapp/img/logos/ran1.png" width="100%"
                                     alt=""></a>
                            </div>
                            <br>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="{% url 'nxnas' %}">NX NASTRAN</a></h4>
                                </div>
                                <div class="product_price">
                                    <p><span class="old_price"></span><h4>NX Nastran is a finite element solver for
                                    stress, vibration, structural failure, heat transfer, acoustics, nonlinear, and
                                    aeroelasticity analyses.</h4>  <span class="new_price"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"><a href="{% url 'revitmep' %}">
                                <img class="img-responsive"
                                     src="static/publicapp/img/logos/revitt.png" width="100%"
                                     alt=""></a>
                            </div>
                            <br>
                            <br><br><br>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="{% url 'revitmep' %}">REVIT MEP</a></h4>
                                </div>
                                <div class="product_price">
                                    <p><span class="old_price"></span><h4>It helps engineers, designers and contractors
                                    across the mechanical, electrical and plumbing (MEP) disciplines </h4> <span
                                        class="new_price"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"><a href="{% url 'prime' %}">
                                <img class="img-responsive"
                                     src="static/publicapp/img/logos/primavera1.jpg" width="100%"
                                     alt=""></a>
                            </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="{% url 'prime' %}">PRIMAVERA</a></h4>
                                </div>

                                <div class="product_price">
                                    <p><span class="old_price"></span><h4>Primavera is an enterprise project portfolio
                                    management software</h4> <span class="new_price"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}