{% extends 'base-main.html' %}
{% load static %}
{% block content %}
    <div class="hero_slide">
        <div class="hero_slide_background" style="background-image:url(/static/publicapp/images/teachers.jpg);"></div>
        <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">

        </div>
    </div>
    <BR>
    <BR>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1> OUR TEACHERS</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Teachers -->


    <div class="container">
        <div class="row">
            {% for teacher in teachers %}
                <div class="col-lg-4 teacher">
                    <div class="card">
                        <div class="card_img">
                            <img class="card-img-top trans_200" src="{{ teacher.image.url }}"
                                 alt="https://unsplash.com/@michaeldam" width="100%" height="350px" style="object-fit: cover">
                        </div>
                        <div class="card-body text-center">
                            <div class="card-title"><a href="">{{ teacher|upper }}</a></div>
                            <div class="card-text">
                                {% if teacher.user_type == 'teacher' %}
                                    {{ teacher.get_profile.subject }} Teacher
                                {% else %}
                                    {{ teacher.get_profile.course }} Trainer
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <br>
{% endblock %}